
h1 {
    color: darkorange;
    font-family: "Gloucester MT Extra Condensed";
    font-weight: bolder;
    font-size: 75px;
    /*Border Property Instance 1*/
    border: 200px solid red;
    /*Padding Property Instance 1*/
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px;
    /*Padding Instance 1*/
    padding-left: 200px;

}


h2{
    /*Float instance 1*/
    float: right;
    transform: rotate(90deg);
    /*Border Property Instance 2*/
    border: 20px dotted blue;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    font-family: Damascus;
    font-size: 100px;
    color: fuchsia;
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
    /*Padding Instance 2*/
    padding-right: 200px;

}

h3{
    font-family: Consolas;
    font-size: 75px;
    /*Absolute Position 1*/
    position: absolute;
    left: -10px;
}
/*#ECEDDC*/
body{
    font-weight: bold;
    /*Zig Zag background pulled from internet, but changed colors from nice red and white to this trippy design*/
    background:
            linear-gradient(135deg, #ff8000 25%, transparent 25%) -50px 0,
            linear-gradient(225deg, #49ff18 25%, transparent 25%) -50px 0,
            linear-gradient(315deg, #44eeee 25%, transparent 25%),
            linear-gradient(45deg, #ff8000 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #EC173A;

    left: 30px;
    border: aquamarine;
    /*Margin Property Instance 1*/
    margin-top: 100px;
    margin-right: -100px;
    margin-left: 50px;

}
/*Separation of Images with effects creates invertion of color effect on entire home page when scrolling*/
img:hover{
    /*Inverts colors when scrolling over (hover)*/
    filter: invert(.8);
    /*Zooms in on image when scrolling over (hover)*/
    transform: scaleX(5);
    /*Inline Instance 1*/
    display: inline-block;
    /*Relative Positioning 1*/
    position: relative;
}
img1:hover{
    /*Inverts colors when scrolling over (hover)*/
    filter: invert(.8);
    /*Zooms in on image when scrolling over (hover)*/
    transform: scaleX(1);
    /*Inline Instance 2*/
    display: inline-block;
    /*Relative Positioning 2*/
    position: relative;
}

/*Stylises Links to other pages*/
p{
    /*Block Instance 1*/
    display: block;
    font-family: "Diwan Kufi";
    font-size: 50px;
}